
<% if session.key? :current_user %>
  <h3 class="user_name"><%= session[:current_user][:nickname] %></h3>

  <%= image_tag session[:current_user][:image] %>

  <p><%= session[:current_user][:uid] %></p>

  <p><%= @player_summary[:personaname]%>  </p>


<% end %>

